@media (min-width: 769px) {
    .hero {
        height: 500px;
    }

    .blog-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}